<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="headFragment">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link type="text/css" rel="stylesheet" href="/css/dist/bootstrap.min.css"/>
    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/manifest.json">
    <title th:include=":: #pageTitle">Layout Generic Title</title>
</head>
<body>
<nav th:fragment="navFragment" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" target="_blank" th:href="@{/calendars}" style="font-size: 16px">Calendars</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_blank" th:href="@{/events}" style="font-size: 16px">Events</a>
            </li>
        </ul>
    </div>
    <div sec:authorize="isAnonymous()">
        <form class="form-inline my-2 my-lg-0" form-method="post" th:action="@{/login}">
            <button type="submit" class="btn btn-info">Login</button>
        </form>
    </div>
    <div sec:authorize="isAuthenticated()">
        <form class="form-inline my-2 my-lg-0" form-method="post" th:action="@{/logout}">
            <h5 style="margin: 1rem 1rem">
                Welcome, <span th:utext="${#request.userPrincipal.name}"></span>
            </h5>
            <button type="submit" class="btn btn-danger">Logout</button>
        </form>
    </div>
</nav>

<a th:fragment="addEventBtn"
   sec:authorize="hasRole('ADMIN')"
   title="Add new event"
   type="button"
   id="add-event-btn"
   class="btn btn-danger btn-circle btn-xl"
   target="_blank"
   style="position: fixed;bottom: 0;right: 0;margin: 20px;border-radius: 50%;max-width: 70px;max-height: 80px;
        box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);">
    <img src="/img/plus.png" alt="add event" style="max-width: 45px;max-height: 45px;padding: 8px;"/>
</a>

</body>
</html>